<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seongbincho.seamc_2017_no_template">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_schedule_listview" />
        <activity android:name=".map" />
        <activity android:name=".news" />
        <activity android:name=".contact_info" />
        <activity android:name=".emergency" />
        <activity android:name=".leaderboard" />
        <activity android:name=".gallery" />
        <activity
            android:name=".socialmedia"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>